body {
    background-color:black;
    color: white;
    font-family: "Roboto Mono", monospace;
    

}

p {
    margin-left: 10px;
}

.buttons {
    background-color: black;
    border: 2px solid white;
    height: 180px;
    width: 180px;
    border-radius: 200px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 10px;

}

.rock-image,.paper-image,.scissors-image {
    height: 100px;
    width: 100px;

}

.reset-div {
    margin-left: 10px;
    margin-top: 50px;

}

.reset-button {
    padding: 10px 25px;
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result,.moves,.score {
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    padding: 20px 0px;

}


.moves-image {
    height: 50px;
    width: 50px;
}

